
* { margin: 0; padding: 0; }
body { 
padding: 30px 50px; 
color: #000; 
font: 14px/normal Tahoma, Arial, Helvetica, sans-serif; 
background-image:url('C:/Users/Lucia/Documents/cs145new/mysite/templates/images/skyline.png');
background-repeat: no-repeat;
background-position:bottom;
}
h1 { margin-bottom: .5em; border-bottom: solid 1px #000; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 180%; text-indent: 5px; letter-spacing: -1px; }
cite { float: right; }
ul.classic { list-style: disc; margin-bottom: 1em; padding-left: 2em; }
div.section { clear: both; padding-top: 50px; }
fieldset { border: none; }
#table{
width:100%;
height:100%;
}
#logo{
margin-bottom: .5em;
}
#menu {
margin-left:auto;
margin-right:auto;
}
#content {
height:500px;
}
#footer {
position: relative;
width:100%;
margin:0;
padding:5px;
text-align:center;
} 
