<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Onomnom</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Tom@Lwis (http://www.lwis.net/free-css-drop-down-menu/)" />
<meta name="keywords" content=" css, dropdowns, dropdown menu, drop-down, menu, navigation, nav, horizontal, vertical left-to-right, vertical right-to-left, horizontal linear, horizontal upwards, cross browser, internet explorer, ie, firefox, safari, opera, browser, lwis" />
<meta name="description" content="Clean, standards-friendly, modular framework for dropdown menus" />
<link href="style.css" media="screen" rel="stylesheet" type="text/css" />

<link href="default2.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if lt IE 7]>
<script type="text/javascript" src="js/jquery/jquery.js"></script>
<script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
<![endif]-->

</head>
<body>

<div id="container">

<table id="table">
    <tr>
        <td colspan="2">
            <div id="header">
            <h1><img src="images/mypage.png"></h1>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="side_menu">
            <ul id="nav" class="dropdown dropdown-vertical">
                <li class='first'><a href="C:/Users/Lucia/Documents/cs145new/mysite/templates/vimeo/black_horizontal.html">Home</a></li>
                <li><a href="">Product List</a></li>
                <li><a href="">Lalalala</a></li>
                <li><a href="">My Gallery</a></li>
                <li class='last'><a href="">Contact Tuling</a></li>
            </ul>
            </div>
        </td>
        <td>
            <div id="content">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="vertical-align:bottom">
            <div id="footer">
            Copyright © 2012 Onomnom.com
            </div>
        </td>
    </tr>
</table>

</div>

</body>
</html>