<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Onomnom</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Tom@Lwis (http://www.lwis.net/free-css-drop-down-menu/)" />
<meta name="keywords" content=" css, dropdowns, dropdown menu, drop-down, menu, navigation, nav, horizontal, vertical left-to-right, vertical right-to-left, horizontal linear, horizontal upwards, cross browser, internet explorer, ie, firefox, safari, opera, browser, lwis" />
<meta name="description" content="Clean, standards-friendly, modular framework for dropdown menus" />
<link href="/media/my_page_style.css" media="screen" rel="stylesheet" type="text/css" />


<link href="/media/my_page_menu.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if lt IE 7]>
<script type="text/javascript" src="js/jquery/jquery.js"></script>
<script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
<![endif]-->

</head>
<body>

<div id="container">
<table id="table">
    <tr>
        <td class="border">
            <h1><img src="/media/images/mypage.png"></h1>
        </td>
        <td class="border">
            <p class="home"> <a href="/welcome">Home<a>/<a href="/accounts/logout">Sign out<a> </p>
        </td>
    </tr>
    <tr>
        <td>
            <div id="content">
                <table class="items">
                <tr><th>Picture</th><th>Product Name</th><th>Store</th><th>Product Price</th><th>Last Price Change</th><th>Tags</th>
                {% for item, price in query_results %}
                <tr>
                    <td><a href={{ item.url }}><img src={{ item.img_url }} class="resize"></a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.store }}</td>
                    <td>{{ price }}</td>
                    <td>{{ item.price_date }}</td>
		    {% for tag in item.get_tags %}
		        <td><a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a></td>
		    {%endfor%}
                </tr>
                {% endfor %}
                </tr>    
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="vertical-align:bottom">
            <div id="footer">
            Copyright © 2012 Onomnom.com
            </div>
        </td>
    </tr>
</table>
</div>

</body>
</html>
