/*--body {
background-image:url('images/onomnom_background.jpg');
background-attachment:fixed;
background-position:center;
}
--*/

body {
background-image:url('images/onomnom_city.png'), url('images/onomnom_logo_c.png'), url('images/onomnom_c.png');
background-position:center, left top, right top;
background-repeat:no-repeat;
}
h1 {
position:fixed;
top:100px;
right:20px;
}

#login_box {
position:fixed;
top:200px;
right:50px;
}

