body {
 width:100%;
 height:100%;
 padding:0;
 margin:0;
 background-image:url('/media/images/background4-2.png');
 background-repeat: no-repeat;
 background-position:bottom;
 background-attachment:fixed;
 font: 14px/normal Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
 margin-top:10px;
 padding-left:30px;
 height:90px;
 border-bottom: solid 1px #000;
 font-weight: normal;
 font-size: 300%;
 text-indent: 5px;
 letter-spacing: -1px;
}

#content{
margin:10px;
}

#footer {
width:100%;
margin:30px;
padding:0;
text-align:center;
}